<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- CSS FILES  -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="css/text" href="/css/normalize.css" />
</head>
<body>

	<!-- NAVIGATION  -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="home">FIFA World Cup</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="home">Home</a></li>
				<li><a href="teams">Teams</a></li>
				<li><a href="timeline">Timeline</a></li>
				<li><a href="star-players">Star Players</a></li>
				<li class="active"><a href="about-us">About Us</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<br>
<div class="aboutUs">
<p><img class="aboutPic" src="/images/meInRed.jpg">
	<h1>Madelin Arias</h1>
	I am a rising junior pursing a B.S. in Computer Science. I aspire to be a full-stack web developer. I loved programming ever since I was 13 years old starting out in my high school's Robotics Club. I enjoyed it so much that I began taking Computer Science classes in my freshman year of college. Not only have I enjoyed my courses at Lehman, but I have enjoyed being a part of Computer Science students in Lehman's engineering club NSBE-SHPE. The members are incredibly welcoming, and I feel very lucky to have gotten to know them.
</p>

</div>
<div class="aboutUs">
<p><img class="aboutPicC" src="/images/pic4.jpg">
	<h1>Mir Siddika</h1>
I am a Computer Science student in Lehman College. I have gained the interest on working front end through out the bootcamp. Because I like the most is the ability to create amazing and how that ability continues to grow year after year. The web is constantly chagnging and improving. It is stunning. It is encouraging and daunting at the same time. That is what I love about this field.

Also, as time goes on, the web will continue to be more and more a part of peoples every day lives. The chance to have an impact on the world grows every day. I will be working more on different project to grow my skills.</p>

</div>
<div class="aboutUs">
<p><img class="aboutPic" src="/images/Steven.jpg">
	<h1>Steven</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>

</div>
<div class="aboutUs">
<p><img class="aboutPicC" src="/images/issac.jpg">
	<h1>Issac</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>

</div>

</body>
</html>