<!DOCTYPE html>
<html>
<!-- This website was made by Alex Flores-Veliz, Jordan Falcon and Isaac Atif. -->
<head>
    <title>World Cup</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</head>
<body>
    <header>
        <img id="fifa-wc-trophy" src="../images/fifa-wc-2018.png">
        <!-- <h1 id="title">Road to Russia 2018</h1> -->
        <nav>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="timeline.html">Timeline</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li style="float:right">
                    <a class="active" href="team.html">Our Team</a>
                </li>
            </ul>
        </nav>
    </header>
    <img id="fifa-wc-trophy--about" src="../images/fifa-wc-trophy.png">
    <h1>World Cup</h1>
    <blockquote class="embedly-card" data-card-key="275212af66ef435ca417b40667f90b13" data-card-type="article-full">
        <h2>
            <a href="https://en.wikipedia.org/wiki/FIFA_World_Cup" target="_blank">FIFA World Cup - Wikipedia</a>
        </h2>
        <p>The World Cup is the most prestigious association football tournament in the world as well as the most widely viewed
            and followed sporting event in the world, exceeding even the Olympic Games; the cumulative audience of all matches
            of the 2006 FIFA World Cup was estimated to be 26.29 billion with an estimated 715.1 million people watching
            the final match, a ninth of the entire population of the planet.</p>
    </blockquote>
    <hr>
    <blockquote>
        <h2>Tournament format</h2>

        <p>The current format of the tournament involves 32 teams competing for the title at venues within the host nation(s)
            over a period of one month – this phase is often called the Final Competition. A qualification phase, the Preliminary
            Competition which currently takes place over the preceding three years, is used to determine which teams qualify
            for the tournament together with the host nation(s).</p>

        <p>The preliminary competition for the 2014 FIFA World Cup Brazil™ sees a total of 204 entries across six continents
            competing for 31 available spots. For the last FIFA World Cup, 200 teams played a total of 853 matches as 31
            teams qualified for South Africa.</p>

        <p>Both the preliminary and final competitions act as a massive promotion for the game of football and for the host
            nation(s) and are therefore wonderful opportunities to help promote values of respect, fair play and discipline
            to the watching world.</p>

        <p>Understandably, the organisation of such an event is a huge task for FIFA and the Local Organising Committee and
            is therefore one of the main activities of FIFA over a four-year period.</p>
    </blockquote>
    <hr>
    <blockquote>
        <h2>Facts and figures</h2>

        <p>The 19 FIFA World Cup tournaments have been won by eight different national teams. Brazil have won five times, and
            they are the only team to have played in every tournament. The other winners are Italy, with four titles; Germany,
            with three wins; Argentina and inaugural winners Uruguay, with two; and England, France, and Spain, with one
            title each.</p>

        <p>The FIFA World Cup is the world's most widely viewed sporting event; an estimated 715.1 million people watched the
            final match of the 2006 FIFA World Cup held in Germany and the 2010 event in South Africa was broadcast to 204
            countries on 245 different channels. Inside the stadiums, a total of 3,170,856 spectators attended the 64 matches
            an average of 49,670 per match and the third highest aggregate attendance behind USA 1994 and Germany 2006.</p>

        <p>There were also over six million people who attended public viewing events in 16 sites across the world: ten within
            South Africa and a further six across the globe in Rome, Paris, Berlin, Sydney, Mexico City and Rio de Janeiro.
            A total of 350,000 fans attended the International FIFA Fan Fest in Berlin for the semi-final match between Germany
            and Spain.</p>

        <p>177,853 accreditations for the last FIFA World Cup were printed, while the hospitality programme attracted almost
            a quarter of a million guests. Over three quarters of a million litres of beer were sold in the stadiums and
            390,600 hot dogs were sold in the public catering concessions; many to the half a million international visitors
            who descended on South Africa.</p>

        <p>The FIFA World Cup brings in much needed resources from partners and the TV rights which allows FIFA to invest in
            social activities related to the tournament. For South Africa 2010, the 20 Centres for 2010 campaign was launched,
            aiming promote public health, education and football in disadvantaged communities across Africa. A FIFA World
            Cup also creates resources for many extra development programmes which proved to be beneficial for member associations
            of FIFA throughout the course of the four-year cycle.</p>

        <p>The next three World Cups will be hosted by Brazil in 2014, Russia in 2018, and Qatar in 2022.</p>
    </blockquote>

    </blockquote>
    <hr>
    <blockquote>
        <h2>FIFA World Cup Statistics</h2>

        <h3> All time stats</h3>

        <table style="width:100%">
            <tr>
                <th>Edition</th>
                <th>Teams</th>
                <th>Games Played</th>
                <th>Goals Scored</th>
                <th>Avg. Goals</th>
                <th>Avg. Attendance</th>
            </tr>
            <tr>
                <td>2014 FIFA World Cup Brazil ™</td>
                <td class="center">32</td>
                <td class="center">64</td>
                <td class="center">171</td>
                <td class="center">2.7</td>
                <td class="center">52,918</td>
            </tr>
            <tr>
                <td>2010 FIFA World Cup South Africa ™</td>
                <td class="center">32</td>
                <td class="center">64</td>
                <td class="center">145</td>
                <td class="center">2.3</td>
                <td class="center">49,669</td>
            </tr>
            <tr>
                <td>2006 FIFA World Cup Germany ™</td>
                <td class="center">32</td>
                <td class="center">64</td>
                <td class="center">147</td>
                <td class="center">2.3</td>
                <td class="center">52,491
                </td>
            </tr>
            <tr>
                <td>2002 FIFA World Cup Korea/Japan ™</td>
                <td class="center">32</td>
                <td class="center">64</td>
                <td class="center">161</td>
                <td class="center">2.5</td>
                <td class="center">42,268
                </td>

            </tr>
            <tr>
                <td>1998 FIFA World Cup France ™</td>
                <td class="center">32</td>
                <td class="center">64</td>
                <td class="center">171</td>
                <td class="center">2.7</td>
                <td class="center">43,517</td>
            </tr>
            <tr>
                <td>1994 FIFA World Cup USA ™</td>
                <td class="center">24</td>
                <td class="center">52</td>
                <td class="center">141</td>
                <td class="center">2.7</td>
                <td class="center">68,991</td>

            </tr>
            <tr>
                <td>1990 FIFA World Cup Italy ™</td>
                <td class="center">24</td>
                <td class="center">52</td>
                <td class="center">115</td>
                <td class="center">2.2</td>
                <td class="center">48,388</td>

            </tr>
            <tr>
                <td>1986 FIFA World Cup Mexico ™</td>
                <td class="center">24</td>
                <td class="center">52</td>
                <td class="center">132</td>
                <td class="center">2.5</td>
                <td class="center">46,039</td>

            </tr>
            <tr>
                <td>1982 FIFA World Cup Spain ™</td>
                <td class="center">24</td>
                <td class="center">52</td>
                <td class="center">146</td>
                <td class="center">2.8</td>
                <td class="center">40,571</td>

            </tr>
            <tr>
                <td>1974 FIFA World Cup Germany ™</td>
                <td class="center">16</td>
                <td class="center">38</td>
                <td class="center">97</td>
                <td class="center">2.6</td>
                <td class="center">49,098</td>

            </tr>
            <tr>
                <td>1970 FIFA World Cup Mexico ™</td>
                <td class="center">16</td>
                <td class="center">32</td>
                <td class="center">89</td>
                <td class="center">2.8</td>
                <td class="center">48,847</td>

            </tr>
            <tr>
                <td>1966 FIFA World Cup England ™</td>
                <td class="center">16</td>
                <td class="center">32</td>
                <td class="center">89</td>
                <td class="center">2.8</td>
                <td class="center">27,911
                </td>
            </tr>
            <tr>
                <td>1962 FIFA World Cup Chile ™</td>
                <td class="center">16</td>
                <td class="center">32</td>
                <td class="center">89</td>
                <td class="center">2.8</td>
                <td class="center">27,911
                </td>
            </tr>
            <tr>
                <td>1958 FIFA World Cup Sweden ™</td>
                <td class="center">16</td>
                <td class="center">35</td>
                <td class="center">126</td>
                <td class="center">3.6</td>
                <td class="center">23,423</td>

            </tr>
            <tr>
                <td>1954 FIFA World Cup Switzerland ™</td>
                <td class="center">16</td>
                <td class="center">26</td>
                <td class="center">140</td>
                <td class="center">5.4</td>
                <td class="center">29,561
                </td>

            </tr>
            <tr>
                <td>1950 FIFA World Cup Brazil ™</td>
                <td class="center">13</td>
                <td class="center">22</td>
                <td class="center">88</td>
                <td class="center">4.0</td>
                <td class="center">47,511</td>

            </tr>
            <tr>
                <td>1938 FIFA World Cup France ™</td>
                <td class="center">15</td>
                <td class="center">18</td>
                <td class="center">84</td>
                <td class="center">4.7</td>
                <td class="center">20,872</td>

            </tr>
            <tr>
                <td>1934 FIFA World Cup Italy ™</td>
                <td class="center">16</td>
                <td class="center">17</td>
                <td class="center">70</td>
                <td class="center">4.1</td>
                <td class="center">21,352</td>

            </tr>
            <tr>
                <td>1930 FIFA World Cup Uruguay ™</td>
                <td class="center">13</td>
                <td class="center">18</td>
                <td class="center">70</td>
                <td class="center">3.9</td>
                <td class="center">32,808</td>
        </table>

        <h3>World Cup Teams With Most Victories</h3>
        <table style="width:100%">
            <tr>
                <th>Team</th>
                <th>Editions Wins</th>
            </tr>

            <tr>
                <td class="center">
                    <h3>Brazil</h3>
                    <img src=http://img.fifa.com/images/flags/4/bra.png>
                    <td class="center">
                        <h3>5</h3>
                        <img class="winners-count" src="../images/fifa-wc-trophy.png">
                    </td>
            </tr>

            <tr>
                <td class="center">
                    <h3>Italy</h3>
                    <img src=http://img.fifa.com/images/flags/4/ita.png>
                    <td class="center">
                        <h3>4</h3>
                        <img class="winners-count" src="../images/fifa-wc-trophy.png">
                    </td>
            </tr>

            <tr>
                <td class="center">
                    <h3>Germany</h3>
                    <img src=http://img.fifa.com/images/flags/4/ger.png>
                </td>
                <td class="center">
                    <h3>4</h3>
                    <img class="winners-count" src="../images/fifa-wc-trophy.png">
                </td>
            </tr>

            <tr>
                <td class="center">
                    <h3>Uruguay</h3>
                    <img src=http://img.fifa.com/images/flags/4/uru.png>
                </td>
                <td class="center">
                    <h3>2</h3>
                    <img class="winners-count" src="../images/fifa-wc-trophy.png">
                </td>
            </tr>

            <tr>
                <td class="center">
                    <h3>Argentina</h3>
                    <img src=http://img.fifa.com/images/flags/4/arg.png>
                </td>
                <td class="center">
                    <h3>2</h3>
                    <img class="winners-count" src="../images/fifa-wc-trophy.png">
                </td>
            </tr>

            <tr>
                <td class="center">
                    <h3>England</h3>
                    <img src=http://img.fifa.com/images/flags/4/eng.png>
                </td>
                <td class="center">
                    <h3>1</h3>
                    <img class="winners-count" src="../images/fifa-wc-trophy.png">
                </td>
            </tr>

            <tr>
                <td class="center">
                    <h3>France</h3>
                    <img src="http://img.fifa.com/images/flags/4/fra.png" alt="">
                </td>
                <td class="center">
                    <h3>1</h3>
                    <img class="winners-count" src="../images/fifa-wc-trophy.png">
                </td>
            </tr>

            <tr>
                <td class="center">
                    <h3>Spain</h3>
                    <img src="http://img.fifa.com/images/flags/4/esp.png" alt="">
                </td>
                <td class="center"> 
                    <h3>1</h3>
                    <img class="winners-count" src="../images/fifa-wc-trophy.png">
                </td>
            </tr>
        </table>
    <div class="footer">
        <p class="love">Made with <i class="far fa-heart"></i> by <a href="">Isaac</a>, <a href="">Madelin</a>, <a href="">Stephen</a> and <a href="">Mir</a>.</p> 
    </div>
</body>
</html>