<!DOCTYPE html>
<html>
<head>
	<title>Star Players</title>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- CSS FILES  -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="css/text" href="/css/normalize.css" />
</head>
<body>

	<!-- NAVIGATION  -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="home">FIFA World Cup</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="home">Home</a></li>
				<li><a href="teams">Teams</a></li>
				<li><a href="timeline">Timeline</a></li>
				<li class="active"><a href="star-players">Star Players</a></li>
				<li><a href="about-us">About Us</a></li>
			</ul>
		</div>
	</nav>

	<div class="div-container">

		<!-- Stephen's code here!! -->
	</div>



</body>
</html>