

<div class="container">
    <section class="count-down--container">
        <!-- <p id="count-down">Loading...</p> -->
        <div id="clockdiv">
          <div>
            <span class="days">- -</span>
            <div class="smalltext">Days</div>
          </div>
          <div>
            <span class="hours">- -</span>
            <div class="smalltext">Hours</div>
          </div>
          <div>
            <span class="minutes">- -</span>
            <div class="smalltext">Minutes</div>
          </div>
          <div>
            <span class="seconds">- -</span>
            <div class="smalltext">Seconds</div>
          </div>
        </div>
        <h1 id="count-down--caption">Countdown until World Cup</h1>
    </section>
    <section class="twitter-section">
        <a class="twitter-timeline" data-lang="en" data-width="800" data-height="500" data-link-color="#E81C4F" href="https://twitter.com/FIFAWorldCup?ref_src=twsrc%5Etfw">Tweets by FIFAWorldCup</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>