<!DOCTYPE html>
<html>
<head>
	<title>Teams</title>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- CSS FILES  -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="css/text" href="/css/normalize.css" />
</head>
<body>

	<!-- NAVIGATION  -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="home">FIFA World Cup</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="home">Home</a></li>
				<li class="active"><a href="teams">Teams</a></li>
				<li><a href="timeline">Timeline</a></li>
				<li><a href="star-players">Star Players</a></li>
				<li><a href="about-us">About Us</a></li>
			</ul>
		</div>
	</nav>

	<br>
	<br>
	<br>
	

	<!-- TEAM SECTION -->
	<!-- siddika is working on this!! -->
	<div class="div-container">

		<!-- left -->
		<img class="first-col" src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">

		<img class="first-col" src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">

		<!-- right -->
		<img class="first-col" src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">

		<img class="first-col" src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">
		<img src="/images/winners/1930.jpg">


	</div>

	



</body>