<!DOCTYPE html>
<html>
<head>
	<title>Timeline</title>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- CSS FILES  -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="css/text" href="/css/normalize.css" />
</head>
<body>

	<!-- NAVIGATION  -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="home">FIFA World Cup</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="home">Home</a></li>
				<li><a href="teams">Teams</a></li>
				<li class="active"><a href="timeline">Timeline</a></li>
				<li><a href="star-players">Star Players</a></li>
				<li><a href="about-us">About Us</a></li>
			</ul>
		</div>
	</nav>


	<br>
	<br>
	<br>
	<br>
	<br>

	<!-- Display past winners -->
	<div id="timeline">
		<h1 id="winners" class="timeline-text"><strong>Past World Cup Winners</strong></h1>
		<center><p class="timeline-text">(1930 - 2014)</p></center>
		<div class="flex-container">

			<!-- <h2>Uruguay</h2> -->
			<img class="winner borders" src='../images/winners/uruguay.png' onmouseover="this.src='../images/winners/1930.jpg';" onmouseout="this.src='../images/winners/uruguay.png';" />

			<!-- <h2>Italy</h2> -->
			<img class="winner borders" src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/1934.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />

			<!-- <h2>Italy</h2> -->
			<img class="winner borders" src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/1938.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />

			<!-- <h2>Uruguay</h2> -->
			<img class="winner borders" src='../images/winners/uruguay.png' onmouseover="this.src='../images/winners/1950.jpg';" onmouseout="this.src='../images/winners/uruguay.png';" />

			<!-- <h2>West Germany</h2> -->
			<img class="winner borders" src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/1954.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />

			<!-- <h2>Brazil</h2> -->
			<img class="winner borders" src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1958.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />

			<!-- <h2>Brazil</h2> -->
			<img class="winner borders" src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1962.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />

			<!-- <h2>England</h2> -->
			<img class="winner borders" src='../images/winners/england.svg' onmouseover="this.src='../images/winners/1966.jpg';" onmouseout="this.src='../images/winners/england.svg';" />

			<!-- <h2>Brazil</h2> -->
			<img class="winner borders" src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1970.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />

			<!-- <h2>West Germany</h2> -->
			<img class="winner borders" src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/1974.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />

			<!-- <h2>Argentina</h2> -->
			<img class="winner borders" src='../images/winners/argentina.svg' onmouseover="this.src='../images/winners/1978.jpg';" onmouseout="this.src='../images/winners/argentina.svg';" />

			<!-- <h2>Italy</h2> -->
			<img class="winner borders" src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/1982.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />

			<!-- <h2>Argentina</h2> -->
			<img class="winner borders" src='../images/winners/argentina.svg' onmouseover="this.src='../images/winners/1986.jpg';" onmouseout="this.src='../images/winners/argentina.svg';" />

			<!-- <h2>West Germany</h2> -->
			<img class="winner borders" src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/1990.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />

			<!-- <h2>Brazil</h2> -->
			<img class="winner borders" src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1994.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />

			<!-- <h2>France</h2> -->
			<img class="winner borders" src='../images/winners/france.svg' onmouseover="this.src='../images/winners/1998.jpg';" onmouseout="this.src='../images/winners/france.svg';" />

			<!-- <h2>Brazil</h2> -->
			<img class="winner borders" src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/2002.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />

			<!-- <h2>Italy</h2> -->
			<img class="winner borders" src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/2006.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />

			<!-- <h2>Spain</h2> -->
			<img class="winner borders" src='../images/winners/spain.svg' onmouseover="this.src='../images/winners/2010.jpg';" onmouseout="this.src='../images/winners/spain.svg';" />

			<!-- <h2>Germany</h2> -->
			<img class="winner borders" src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/2014.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>

	<!-- Display Statistics -->

	<div class="statistics">
		<h2><strong>FIFA World Cup Statistics</strong></h2>

		<h3> All Time Stats</h3>

		<table class="timeline-table">
			<tr>
				<th>Edition</th>
				<th>Teams</th>
				<th>Games Played</th>
				<th>Goals Scored</th>
				<th>Avg. Goals</th>
				<th>Avg. Attendance</th>
			</tr>
			<tr>
				<td>2014 FIFA World Cup Brazil</td>
				<td class="center">32</td>
				<td class="center">64</td>
				<td class="center">171</td>
				<td class="center">2.7</td>
				<td class="center">52,918</td>
			</tr>
			<tr>
				<td>2010 FIFA World Cup South Africa</td>
				<td class="center">32</td>
				<td class="center">64</td>
				<td class="center">145</td>
				<td class="center">2.3</td>
				<td class="center">49,669</td>
			</tr>
			<tr>
				<td>2006 FIFA World Cup Germany</td>
				<td class="center">32</td>
				<td class="center">64</td>
				<td class="center">147</td>
				<td class="center">2.3</td>
				<td class="center">52,491
				</td>
			</tr>
			<tr>
				<td>2002 FIFA World Cup Korea/Japan</td>
				<td class="center">32</td>
				<td class="center">64</td>
				<td class="center">161</td>
				<td class="center">2.5</td>
				<td class="center">42,268
				</td>

			</tr>
			<tr>
				<td>1998 FIFA World Cup France</td>
				<td class="center">32</td>
				<td class="center">64</td>
				<td class="center">171</td>
				<td class="center">2.7</td>
				<td class="center">43,517</td>
			</tr>
			<tr>
				<td>1994 FIFA World Cup USA</td>
				<td class="center">24</td>
				<td class="center">52</td>
				<td class="center">141</td>
				<td class="center">2.7</td>
				<td class="center">68,991</td>

			</tr>
			<tr>
				<td>1990 FIFA World Cup Italy</td>
				<td class="center">24</td>
				<td class="center">52</td>
				<td class="center">115</td>
				<td class="center">2.2</td>
				<td class="center">48,388</td>

			</tr>
			<tr>
				<td>1986 FIFA World Cup Mexico</td>
				<td class="center">24</td>
				<td class="center">52</td>
				<td class="center">132</td>
				<td class="center">2.5</td>
				<td class="center">46,039</td>

			</tr>
			<tr>
				<td>1982 FIFA World Cup Spain</td>
				<td class="center">24</td>
				<td class="center">52</td>
				<td class="center">146</td>
				<td class="center">2.8</td>
				<td class="center">40,571</td>

			</tr>
			<tr>
				<td>1974 FIFA World Cup Germany</td>
				<td class="center">16</td>
				<td class="center">38</td>
				<td class="center">97</td>
				<td class="center">2.6</td>
				<td class="center">49,098</td>

			</tr>
			<tr>
				<td>1970 FIFA World Cup Mexico</td>
				<td class="center">16</td>
				<td class="center">32</td>
				<td class="center">89</td>
				<td class="center">2.8</td>
				<td class="center">48,847</td>

			</tr>
			<tr>
				<td>1966 FIFA World Cup England</td>
				<td class="center">16</td>
				<td class="center">32</td>
				<td class="center">89</td>
				<td class="center">2.8</td>
				<td class="center">27,911
				</td>
			</tr>
			<tr>
				<td>1962 FIFA World Cup Chile</td>
				<td class="center">16</td>
				<td class="center">32</td>
				<td class="center">89</td>
				<td class="center">2.8</td>
				<td class="center">27,911
				</td>
			</tr>
			<tr>
				<td>1958 FIFA World Cup Sweden</td>
				<td class="center">16</td>
				<td class="center">35</td>
				<td class="center">126</td>
				<td class="center">3.6</td>
				<td class="center">23,423</td>

			</tr>
			<tr>
				<td>1954 FIFA World Cup Switzerland</td>
				<td class="center">16</td>
				<td class="center">26</td>
				<td class="center">140</td>
				<td class="center">5.4</td>
				<td class="center">29,561
				</td>

			</tr>
			<tr>
				<td>1950 FIFA World Cup Brazil</td>
				<td class="center">13</td>
				<td class="center">22</td>
				<td class="center">88</td>
				<td class="center">4.0</td>
				<td class="center">47,511</td>

			</tr>
			<tr>
				<td>1938 FIFA World Cup France</td>
				<td class="center">15</td>
				<td class="center">18</td>
				<td class="center">84</td>
				<td class="center">4.7</td>
				<td class="center">20,872</td>

			</tr>
			<tr>
				<td>1934 FIFA World Cup Italy</td>
				<td class="center">16</td>
				<td class="center">17</td>
				<td class="center">70</td>
				<td class="center">4.1</td>
				<td class="center">21,352</td>

			</tr>
			<tr>
				<td>1930 FIFA World Cup Uruguay</td>
				<td class="center">13</td>
				<td class="center">18</td>
				<td class="center">70</td>
				<td class="center">3.9</td>
				<td class="center">32,808</td>
			</table>

			<h3><strong>World Cup Teams With Most Victories</strong></h3>
			<table class="timeline-table">
				<tr>
					<th>Team</th>
					<th>Editions Wins</th>
				</tr>

				<tr>
					<td class="center">
						<h3>Brazil</h3>
						<img src="http://img.fifa.com/images/flags/4/bra.png">
						<td class="center">
							<h3>5</h3>
							<img class="winners-count" src="/images/fifa-wc-trophy.png">
						</td>
					</tr>

					<tr>
						<td class="center">
							<h3>Italy</h3>
							<img class="italy-img" src="/images/winners/italy.svg">
							<td class="center">
								<h3>4</h3>
								<img class="winners-count" src="/images/fifa-wc-trophy.png">
							</td>
						</tr>

						<tr>
							<td class="center">
								<h3>Germany</h3>
								<img src=http://img.fifa.com/images/flags/4/ger.png>
							</td>
							<td class="center">
								<h3>4</h3>
								<img class="winners-count" src="../images/fifa-wc-trophy.png">
							</td>
						</tr>

						<tr>
							<td class="center">
								<h3>Uruguay</h3>
								<img src=http://img.fifa.com/images/flags/4/uru.png>
							</td>
							<td class="center">
								<h3>2</h3>
								<img class="winners-count" src="/images/fifa-wc-trophy.png">
							</td>
						</tr>

						<tr>
							<td class="center">
								<h3>Argentina</h3>
								<img src=http://img.fifa.com/images/flags/4/arg.png>
							</td>
							<td class="center">
								<h3>2</h3>
								<img class="winners-count" src="../images/fifa-wc-trophy.png">
							</td>
						</tr>

						<tr>
							<td class="center">
								<h3>England</h3>
								<img src=http://img.fifa.com/images/flags/4/eng.png>
							</td>
							<td class="center">
								<h3>1</h3>
								<img class="winners-count" src="../images/fifa-wc-trophy.png">
							</td>
						</tr>

						<tr>
							<td class="center">
								<h3>France</h3>
								<img src="http://img.fifa.com/images/flags/4/fra.png" alt="">
							</td>
							<td class="center">
								<h3>1</h3>
								<img class="winners-count" src="../images/fifa-wc-trophy.png">
							</td>
						</tr>

						<tr>
							<td class="center">
								<h3>Spain</h3>
								<img src="http://img.fifa.com/images/flags/4/esp.png" alt="">
							</td>
							<td class="center"> 
								<h3>1</h3>
								<img class="winners-count" src="../images/fifa-wc-trophy.png">
							</td>
						</tr>
					</table>

				</div>




			</body>
			</html>