<!DOCTYPE html>
<html>
<!-- This website was made by Alex Flores-Veliz, Jordan Falcon and Isaac Atif. -->
<head>
	<title>World Cup</title>
	<link rel="stylesheet" type="text/css" href="../css/timeline.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
</head>
<body>
	<header>
	<img id="fifa-wc-trophy" src="../images/fifa-wc-2018.png">
	<!-- <h1 id="title">Road to Russia 2018</h1> -->
	<nav>
	   <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="timeline.html">Timeline</a></li>
        <li><a href="about.html">About</a></li>
        <li style="float:right"><a class="active" href="team.html">Our Team</a></li>
       </ul>
    </nav>
	</header>
	<div id="timeline">
		<h1 id="winners">Past World Cup Winners</h1>
		<p style="text-align: center;">(1930 - 2014)</p>
		<div class="flex-container">
			<!-- <h2>Uruguay</h2> -->
			<img class="winner" src='../images/winners/uruguay.png' onmouseover="this.src='../images/winners/1930.jpg';" onmouseout="this.src='../images/winners/uruguay.png';" />
			<!-- <h2>Italy</h2> -->
			<img class="winner" src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/1934.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />
			<!-- <h2>Italy</h2> -->
			<img class="winner" src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/1938.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />
			<!-- <h2>Uruguay</h2> -->
			<img class="winner" src='../images/winners/uruguay.png' onmouseover="this.src='../images/winners/1950.jpg';" onmouseout="this.src='../images/winners/uruguay.png';" />
			<!-- <h2>West Germany</h2> -->
			<img class="winner" src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/1954.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />
			<!-- <h2>Brazil</h2> -->
			<img class="winner" src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1958.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />
			<!-- <h2>Brazil</h2> -->
			<img class="winner" src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1962.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />
			<!-- <h2>England</h2> -->
			<img class="winner" src='../images/winners/england.svg' onmouseover="this.src='../images/winners/1966.jpg';" onmouseout="this.src='../images/winners/england.svg';" />
			<!-- <h2>Brazil</h2> -->
			<img class="winner" src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1970.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />
			<!-- <h2>West Germany</h2> -->
			<img class="winner" src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/1974.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />
			<!-- <h2>Argentina</h2> -->
			<img class="winner" src='../images/winners/argentina.svg' onmouseover="this.src='../images/winners/1978.jpg';" onmouseout="this.src='../images/winners/argentina.svg';" />
			<!-- <h2>Italy</h2> -->
			<img class="winner" src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/1982.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />
			<!-- <h2>Argentina</h2> -->
			<img class="winner" src='../images/winners/argentina.svg' onmouseover="this.src='../images/winners/1986.jpg';" onmouseout="this.src='../images/winners/argentina.svg';" />
			<!-- <h2>West Germany</h2> -->
			<img class="winner" src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/1990.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />
			<!-- <h2>Brazil</h2> -->
			<img class="winner" src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/1994.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />
			<!-- <h2>France</h2> -->
			<img class="winner" src='../images/winners/france.svg' onmouseover="this.src='../images/winners/1998.jpg';" onmouseout="this.src='../images/winners/france.svg';" />
			<!-- <h2>Brazil</h2> -->
			<img class="winner" src='../images/winners/brazil.svg' onmouseover="this.src='../images/winners/2002.jpg';" onmouseout="this.src='../images/winners/brazil.svg';" />
			<!-- <h2>Italy</h2> -->
			<img class="winner" src='../images/winners/italy.svg' onmouseover="this.src='../images/winners/2006.jpg';" onmouseout="this.src='../images/winners/italy.svg';" />
			<!-- <h2>Spain</h2> -->
			<img class="winner" src='../images/winners/spain.svg' onmouseover="this.src='../images/winners/2010.jpg';" onmouseout="this.src='../images/winners/spain.svg';" />
			<!-- <h2>Germany</h2> -->
			<img class="winner" src='../images/winners/germany.svg' onmouseover="this.src='../images/winners/2014.jpg';" onmouseout="this.src='../images/winners/germany.svg';" />
		</div>
	</div>
	<div class="footer">
			<p class="love">Made with <i class="far fa-heart"></i> by <a href="">Isaac</a>, <a href="">Madelin</a>, <a href="">Stephen</a> and <a href="">Mir</a>.</p> 
	</div>
</body>
</html>